<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@drawable/locc"
        android:roundIcon="@drawable/locc"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocusPace"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.locuspace.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service
            android:name=".TrackingService"
            android:enabled="true"
            android:foregroundServiceType="location" />

        <activity
            android:name=".TrackRun"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Statistic"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">

        </activity>

        <activity
            android:name=".RunDetailActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">

        </activity>

        <activity
            android:name=".Backup"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">


        </activity>

        <activity
            android:name=".DataProcessing"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">


        </activity>

        <activity
            android:name=".Social"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">


        </activity>


        <activity
            android:name=".Tutorial"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">

        </activity>

        <activity
            android:name=".BaseActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">

        </activity>
        <activity
            android:name=".Menu"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">


        </activity>

        <activity
            android:name=".Settings"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LocusPace">

        </activity>
    </application>

</manifest>